body{
    font-family: Raleway Flex,Raleway-Fallback,Apple Color Emoji,Noto Color Emoji,sans-serif;
}

.navbar{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navbar > li{
    border-right: 1px solid black;
    width: 100%;
    height: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar > li:hover{
    cursor: pointer;
    color: grey;
    transition: all 0.25s ease-in;
}

.presentation{
    background-image: url('./images/cocktail.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.presentation h1{
    color: white;
    font-weight: bold;
    font-size: 4rem;
}

.button{
    width: 20rem;
    height: 3rem;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{
    background-color: lightblue;
    cursor: pointer;
    transition: all 0.25s ease-in;
}

.shadowed{
    box-shadow: 10px 5px 5px black;
}

.articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.article{
    height: 30rem;
    width: 30rem;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.article img{
    min-height: 20rem;
}
